.row_2 {
  color: black;
  background-color: white;
  padding: 5rem 5rem;
}
.banner_heading {
  color: #052639;
}
.row_2_text {
  font-size: 1.2rem;
  padding-top: 3rem;
  color: #052639;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.row_3 {
  padding: 5rem 5rem;
  background-image: linear-gradient(
    180deg,
    #f4f6f3 80%,
    rgba(0, 0, 0, 0) 4%
  ) !important;
}
.row_4 {
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
}
.my_accord {
  display: flex;
  flex-direction: column;
}
.my_accord > * {
  margin-bottom: 1rem;
}
.accord_cards {
  border: 1px solid #81c181;
  justify-content: center;
}
.accordionplus {
  color: green;
  background-color: white;
  border: 0px;
}
.row_5 {
  padding: 2rem 0rem;
  background-image: linear-gradient(
    180deg,
    #f4f6f3 80%,
    rgba(0, 0, 0, 0) 4%
  ) !important;
}
.details_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.details_card > * {
  margin-bottom: 1rem;
}
@media screen and (max-width: 560px) {
  .row_2 {
    padding: 1.5rem 1rem;
  }
}
