.row_2 {
  color: black;
  background-color: white;
  padding: 5rem 3rem;
}
.banner_heading {
  color: #052639;
}
.row_2_text {
  font-size: 1.2rem;
  padding-top: 3rem;
  color: #052639;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.row_3 {
  padding: 5rem 5rem;
  background-image: linear-gradient(
    180deg,
    #f4f6f3 80%,
    rgba(0, 0, 0, 0) 4%
  ) !important;
}
.row_4 {
  padding: 5rem 5rem;
  display: flex;
  justify-content: center;
}
.my_accord {
  display: flex;
  flex-direction: column;
}
.my_accord > * {
  margin-bottom: 1rem;
}
.accord_cards {
  border: 1px solid #9dbebb;
  justify-content: center;
}
.accordionplus {
  color: green;
  background-color: white;
  border: 0px;
}
.row_5 {
  padding: 2rem 0rem;
  background-image: linear-gradient(
    180deg,
    #f4f6f3 80%,
    rgba(0, 0, 0, 0) 4%
  ) !important;
}
.details_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.details_card > * {
  margin-bottom: 1rem;
}
.botox_row2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.botox_row2 > * {
  margin-bottom: 1.5rem;
}
.botox_row3 {
  padding: 4rem 0rem;
  text-align: center;
}
.row2_list {
  padding-left: 2.5rem;
}
.row2_list > * {
  margin-bottom: 0.5rem;
}
.sub_container > * {
  margin-bottom: 2rem;
}
.invisalign_row2 {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.invisalign_row2 > * {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.cosmetic_row2 {
  display: flex;
  align-items: center;
}
.cosmetic_cards {
  margin: 6% 5%;
  padding: 10% 5%;
  border: 2px solid black;
  background-color: transparent;
  border-radius: 0px 40px 0px 40px;
}
.cosmetic_row3 {
  padding: 5rem 0rem;
}
@media screen and (max-width: 992px) {
  .botox_row2 {
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .row_2 {
    padding: 1.5rem 1rem;
  }
  .botox_row2 {
    width: 90%;
  }
}
