.footer {
  padding: 40px 0;
  padding-top: 25px;
  width: 100%;
  background: #266980;
  color: #fff;
}

.footer-title {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #4e4e4e;
}
.footer-title:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 30px;
  height: 4px;
  background: grey;
}
.footer-links a {
  padding: 10px 0;
  border-bottom: 1px solid #404040;
  color: #fff;
  display: block;
  transition: color 0.5s ease-in-out;
  text-decoration: none;
}
.footer-links a:hover {
  color: #f8ac70;
}
.footer-social-links li {
  display: inline-block;
}
.footer-social-links a {
  width: 40px;
  height: 40px;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #404040;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  line-height: 1;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background: rgb(143, 141, 141);
}
.footer-social-links a:hover {
  background: black;
}
/* g. Footer bottom section */
.footer-bottom {
  width: 100%;
  padding: 0px 0 25px 0;
  text-align: center;
  color: #fff;
  background: #266980;
}
