.holder
{
    height: 300px;
    width: 40vw;
    position: relative;
    bottom: 0;
    display: flex;
    overflow-x: hidden;
    margin: auto;
}
.holder img{
    height: 100%;  
}


.imageEle{
    margin: 20px 10px;
    padding: 5px;
}
.imageEle h1{
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.drag{
    position: absolute;
    z-index: 10;
    display: block;
    width: calc(100% + 26px);
    border-radius: 50%;
    top:50%;
    left: -13px;
    /* transform: translateY(-50%); */
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  
  background: transparent; /* Otherwise white in Chrome */
}


.drag::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #ffffff;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    /* background-color: transparent; */
    background-image: url('../assets/img/v-28-512.webp');
    cursor: pointer;
    margin-top: -0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
     /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  .drag::-moz-range-thumb {
    
    border: 3px solid #ffffff;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  .drag::-ms-thumb {
    
    border: 3px solid #ffffff;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }

  .img1{
      width: 100%;
      position: absolute;
      z-index: 5;
      overflow-x: hidden;
      border-right: 2px solid #ffffff;
  }
  .img1 img,.img2 img{
    width:40vw;
    height:300px;
  }

  .img2{
      width: 100%;
      position: absolute;
      overflow-x: hidden;
  }
  
  @media screen and (max-width: 800px) {
    .holder{
        width: 70vw;
    }
    .img1 img,.img2 img{
      width: 70vw;
    }
  }

  @media screen and (max-width: 600px) {
    .holder{
        width: 80vw;
    }
    .img1 img,.img2 img{
      width: 80vw;
    }
  }
  